html,
body {
    overscroll-behavior-y: none !important;
}

html,
body,
#routerTarget {
    width: 100%;
    height: 100%;
}

#routerTarget {
    padding-top: var(--ui-app-bar-height);
}

.ui-drawer .app-info {
    --mono: 1;
    --wght: 350;
    font-size: 0.75rem;
}

.ui-drawer .group {
    width: 100%;
}

summary::after {
    font-family: "bootstrap-icons";
    content: "\f285";
}

details[open] summary::after {
    content: "\f282";
}

dialog[name="metal-sheet"] .filters .filter label {
    display: block;
    width: 100%;
    padding: var(--ui-spacing);
}
